.lake/
build/
.DS_Store
blueprint/print/*.pdf
blueprint/print/*.aux
blueprint/print/*.fdb_latexmk
blueprint/print/*.fls
blueprint/print/*.log
blueprint/print/*.out
blueprint/print/*.synctex.gz
blueprint/print/*.toc
blueprint/web/
blueprint/lean_decls
blueprint/src/*.paux
blueprint/src/*.pdf
blueprint/src/*.aux
blueprint/src/*.log
blueprint/src/*.out
blueprint/src/*.toc
